.DS_Store
develop/modules/**/*.js
develop/modules/**/*.js.map
!develop/modules/env/env.raw.js
!develop/modules/auth/oauth.vk.com.js
web-ext-artifacts

node_modules
npm-debug.log

bower_components
build
build.zip

*.lock
.idea
*.iml
